.banner-commun{
    margin-top: 30px;
    height: 223px;
}

.banner{
    margin-top: 30px;
    height: 223px;
    background: url('../assets/BackgroundFilter.png'), url("../assets/BackgroundHome.jpg");
    background-position: center;
    background-color: cover;
    border-radius: 25px;
}
.banner2 {
    background: url("../assets/BackgroundFilter.png"), url("../assets/Background.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.banner h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: white;
}

@media (max-width:768px){
    .banner h1{
        font-size: 1rem;
    }
    .banner{
        margin-top: 0px;
        height: 111px;
        background-position: left;
    }

    .banner{
        border-radius: 10px;
    }
}