.logements{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
}

.logements a{
    text-decoration: none;
}

.fiche-logement{
    background-color: var(--colorRed);
    border-radius: 25px;
    transition: 0.3px;
    min-width: 288px;
    width: 100%;
    padding-bottom: 10px;
}

.fiche-logement img{
    width: 100%;
    height: 260px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.fiche-logement h3{
    display: flex;
    height: 65px;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    margin: 0px 20px;
    align-items: center;
    overflow: hidden;
    color: white;
}

.fiche-logement:hover{
    box-shadow: 0px 0px 10px #473030;
    cursor: pointer;
}

@media (max-width=926px) {
    .logements{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media (max-width=800px) {
    .logements{
        grid-template-columns:repeat(auto-fill, minmax(280px, 1fr));
        background: #ffff;
        padding: 0;
        grid-row-gap: 20px;
    }
    .fiche-logement{
        min-width: 200px;
        height: 255px;
    }
    .logements img{
        height: 188px;
    }
}

@media (max-width=540px) {
    .fiche-logement{
        width: 100%;
    }
    .logements{
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
        margin-top:20px ;
        padding: 0;
    }
}